<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMI</title>
</head>
<body>

<form method="post" action="<%= url %>" name="cmiForm">
    <input type="hidden" name="BillToName" value="<%= BillToName %>">
    <input type="hidden" name="email" value="<%= email %>">
    <input type="hidden" name="tel" value="<%= tel %>">
    <input type="hidden" name="description" value="<%= description %>">
    <input type="hidden" name="oid" value="<%= oid %>">
    <input type="hidden" name="clientid" value="<%= clientid %>">
    <input type="hidden" name="okUrl" value="<%= okUrl %>">
    <input type="hidden" name="failUrl" value="<%= failUrl %>">
    <input type="hidden" name="shopurl" value="<%= shopurl %>">
    <input type="hidden" name="amount" value="<%= amount %>">
    <input type="hidden" name="storetype" value="<%= storetype %>">
    <input type="hidden" name="TranType" value="<%= TranType %>">
    <input type="hidden" name="currency" value="<%= currency %>">
    <input type="hidden" name="rnd" value="<%= rnd %>">
    <input type="hidden" name="lang" value="<%= lang %>">
    <input type="hidden" name="hashAlgorithm" value="<%= hashAlgorithm %>">
    <input type="hidden" name="encoding" value="<%= encoding %>">
    <input type="hidden" name="refreshtime" value="<%= refreshtime %>">
    <input type="hidden" name="callbackUrl" value="<%= callbackUrl %>">
    <input type="hidden" name="HASH" value="<%= HASH %>">
</form>

<script>
  document.cmiForm.submit();
</script>
</body>
</html>
